@font-face {
    font-family: Vaughan;
    src: url(../assets/fonts/Vaughan-HandstylishFont2.otf);
}

@font-face {
    font-family: DINProRegular;
    src: url(../assets/fonts/DINPro/DINPro-CondensedRegular.ttf);
    
}

@font-face {
    font-family: DINProMedium;
    src: url(../assets/fonts/DINPro/DINPro-CondensedMedium.ttf);
}

@font-face {
    font-family: DINProBold;
    src: url(../assets/fonts/DINPro/DINPro-CondensedBold.ttf);
}

@font-face {
    font-family: Light;
    src: url(../assets/fonts/DINPro/DINPro-Light.ttf);
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 0px;
    height: 0px;
    margin: -100000px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}

.shadow {
    -moz-box-shadow:    0px 4px 5px 0px #ccc;
    -webkit-box-shadow: 0px 4px 5px 0px #ccc;
    box-shadow: 0px 4px 5px 0px #ccc;
  }

/* HEADER */

header {
    height: 100px;
    padding: 10px 0;
    position: fixed;
    left: calc(50vw - 641px);
    background: #ffffff;
    z-index: 20;
    top: 0;
    width: 100%;
    left: 0;

}

.header__logo {
    margin-right: 4rem;
    margin-top: -2px;
}

.header__phone, .navigation__link {
    font-family: DINProMedium;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    display: block;
}

.header__phone:hover, .navigation__link:hover {
    color: #f77a9e;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.header__phone {
    padding-left: 4.5rem;
    position: relative;
}

.header__phone::before {
    display: block;
    content: '';
    background-image: url(../assets/img/icon/phone-alt-solid.svg);
    background-size: 33px 33px;
    height: 33px;
    width: 33px;
    position: absolute;
    margin-left: -47px;
}
.header__navigation {
    display: flex;
    align-items: center;
}

.navigation__items {
    display: flex;
    width: 434px;
    justify-content: space-between;
    margin-left: 5.7rem;
    margin-right: 1rem;
    margin-bottom: 0;
    line-height: 53px;
}

.lang__items {
    display: flex;
    justify-content: space-between;
    width: 5.9rem;
    margin-bottom: 0;
}

.navigation__link {
    padding: 0 10px;
}

.navigation__link--active {
    border-bottom: 1px solid #f77a9e;
}

.lang__link {
    width: 2.3rem;
    display: block;
    height: 2.3rem;
    border-radius: 50%;
}

.lang__link:hover,  .navigation__link:hover, .header__phone:hover {
    transition: all .3s ease-in-out;
    transform: translateY(-1.5px);
}

.lang__link--rus {
    background: url('../assets/img/lang/rus.png');
    background-size: contain;
}

.lang__link--lt {
    background: url('../assets/img/lang/lt.png');
    background-size: contain;
}

/* main */

.main {
    margin-top: 100px;
}

/* hero start */

.hero {
    background: url('../assets/img/bghome.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__inner {
    background: url('../assets/img/textinbghome.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.hero__content {
    text-transform: uppercase;
    width: 370px;
    padding-top: calc(44% - 5px);
    margin-left: calc(61% - 2px);
    padding-bottom: 12%;
} 

.hero__title {
    position: relative;
    font-family: DINProBold;
    font-size: 3.8rem;
}

.hero__subtitle {
    position: relative;
}

.hero__subtitle::before {
    display: block;
    content: '';
    background-image: url(../assets/img/icon/map-marker-alt-solid.svg);
    background-size: 44px 61px;
    height: 62px;
    width: 48px;
    position: absolute;
    margin-left: -60px;
    margin-top: 4px;
    background-repeat: no-repeat;
}

.hero__subtitle {
    font-family: DINProRegular;
    font-size: 2.2rem;
    margin-left: 3.6rem;
    margin-top: 1.6rem;
    line-height: 2.5rem;
}

.button {
    font-family: Arial;
    border-radius: 52px;
    display: block;
    padding: 24px 10px;
    background: #f77a9e;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    margin-top: 50px;
    margin-left: 23px;
    margin-right: 18px;
    text-transform: uppercase;
}

.button:hover {
    background: #d85076;
}

a:hover {
    text-decoration: none;
    color: #000000;
}



.menu__toggler {
    right: 15px;
    z-index: 2;
    font-size: 31px;
    top: 5px;
    color: #000000;
}

.menu__toggler--close>span {
    transition: .3s 0;
}

.menu__toggler {
    display: none;
}

/* services */

.title-line {
    position: relative;
    padding-top: 32px;
}

.section__title-lt {
    display: block;
    font-family: Vaughan;
    font-size: 72px;
    text-transform: initial;
}

.title-line::after {
    content: '';
    position: absolute;
    width: 36vw;
    height: 1px;
    background: black;
    display: block;
    top: 80px;
    left: 9vh;
}

.title-line::before {
    content: '';
    position: absolute;
    width: 36vw;
    height: 1px;
    background: black;
    display: block;
    top: 80px;
    left: calc(50% + 9vw);
}


.nav-tabs .services__item {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 438px;
    position: relative;
    margin-bottom: 63px;
}

/* services__list--first  */

/* .services__list--first img {
    margin-left: -20px;
} */

.services__list--first i {
    right: 37px;
    bottom: 125px;
}

.services__list--first p {
    margin-left: 37px;
}


/* services__list--second  */

.services__list--second img {
    margin-left: 75px;
    margin-top: 10px;
}

.services__list--second i {
    right: 34px;
    bottom: 125px;
}

.services__list--second p {
    margin-left: 190px;
    margin-top: 10px;
}

/* services__list--third */

.services__list--third img {
    margin-left: 63px;
    margin-top: 16px;
}
.services__list--third i {
    right: -12px;
    bottom: 125px;
}

.services__list--third p {
    margin-left: 147px;
    margin-top: 16px;
}

/* services__list--fourth */

.services__list--fourth img {
    margin-left: -10px;
    top: -16px;
}

.services__list--fourth i {
    right: 41px;
    bottom: 92px;
}

.services__list--fourth p {
    margin-left: 85px;
    margin-bottom: 0;
}

/* services__list--fifth */

.services__list--fifth img {
    margin-left: 46px;
    margin-top: -27px;
}

.services__list--fifth i {
    right: 36px;
    bottom: 95px;
}

.services__list--fifth p {
    margin-left: 115px;
    margin-bottom: 43px;
}

/* services__list--sixth */

.services__list--sixth img {
    margin-left: 65px;
    margin-top: -19px;
    width: 100%;
}

.services__list--sixth i {
    right: -12px;
    bottom: 90px;
}




.services__list--sixth p {
    margin-left: 133px;
    margin-bottom: 43px;
}

.services__name {
    font-size: 30px;
    font-family: DINProMedium;
    text-transform: uppercase;
    color: black;
    z-index: 3;
}

.services__name:hover {
    color: #f77a9e;
}

.nav-tabs .nav-link {
    border: none;
    z-index: 2;
}

.services__tabs {
    position: relative;
    padding-left: 40px;
    background: #d1d1d1;
    width: calc(1129px + (98vw - 1140px)/2);
}

.services__tabs::after {
    position: absolute;
    content: '';
    background: url(../assets/img/leaf.png);
    background-repeat: no-repeat;
    width: 421px;
    height: 400px;
    left: 0;
    margin-left: -300px;
    top: 224px;
}

.services__tab::before {
    position: absolute;
    content: '';
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    left: 0;
    margin-left: -145px;
    top: 5px;

}
.services__tab--first::before {
    background: url(../assets/img/services/serv1.png);
    background-size: cover;
    width: 590px;
    height: 622px;

}

.services__tab--second::before {
    background: url(../assets/img/services/serv2.png);
    background-size: contain;
    width: 342px;
    height: 706px;
    background-repeat: no-repeat;
    transform: rotate(45deg);
    margin-left: -8px;
    margin-top: 72px;
}

.services__tab--third::before {
    background: url(../assets/img/services/serv3.png);
    background-size: contain;
    width: 590px;
    height: 622px;
    background-repeat: no-repeat;
}

.services__tab--fourth::before {
    background: url(../assets/img/services/serv4.png);
    background-size: contain;
    width: 590px;
    height: 622px;
    background-repeat: no-repeat;
}

.services__tab--fifth::before {
    background: url(../assets/img/services/serv5.png);
    background-size: contain;
    width: 590px;
    height: 622px;
    background-repeat: no-repeat;
}

.services__tab--sixth::before {
    background: url(../assets/img/services/serv6.png);
    background-size: contain;
    width: 590px;
    height: 622px;
    background-repeat: no-repeat;
}

.services__tab {
    position: relative;
    padding-left: 473px;
    padding-top: 43px;
    padding-bottom: 25px;
    width: 1089px;
    z-index: 5;
}


.services__img {
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
}

.services__button {
    margin-top: 0;
    width: 327px;
    margin-bottom: 24px;
    padding: 20px;
}

.services__button--white {
    background: transparent;
    border: 3px solid white;
}

.services__button--white:hover {
    background: #f77a9e;
}

.faCircle {
    border: 2px solid #848484;
    padding: 19px 24px;
    border-radius: 50%;
    position: absolute;
    font-size: 31px;
    color: #848484;
}

.faCircle:hover {
    background: #f77a9e;
}


.section__title {
    font-size: 48px;
    text-align: center;
    font-family: DINProBold;
    line-height: 64px;
    margin-bottom: 49px;
    text-transform: uppercase;
}

.tab__name {
    font-size: 48px;
    text-align: left;
    margin-bottom: 32px;
    margin-left: 24px;
    margin-top: -5px;
}

.tab__items {
    margin-left: 16px;
    margin-bottom: 46px;
}

.tab__item {
    font-family: DINProLight;
    margin-left: 70px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 32px;
}

.tab__item::before {
    content: '';
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background: #ffffff;
    border-radius: 50%;
    margin-left: -23px;
    top: 9px;
    z-index: 5;
}

a.active p {
    color: #f77a9e;
}

a.active i {
    background: #f77a9e;
    transform: rotate(90deg);
}

a.active p {
    color: #f77a9e;
}

a[aria-expanded="true"] i {
    background: #f77a9e;
    transform: rotate(90deg);
}

.anchor {
    position: relative;
}

.anchor::before {
	display: block;
	content: "";
	height: 100px;
	margin: -100px 0 0;
}

.card-header {
    height: 137px;
    display: flex;
    align-items: center;
}

@media (max-width: 1350px) {
    .services__list--third img {
        transform: rotate(-23deg);
        margin-left: -4px;
        margin-top: 23px;
        width: 113%;
    }

    .container {
        overflow: hidden;
    }
}

@media (max-width: 1170px) {

    .header__navigation {
        justify-content: space-between;
    }

    .header__logo {
        margin-right: 1rem;
    }

    .navigation__items {
        margin-left: 1.5rem;
        width: 350px;
    }

    .header__phone, .navigation__link {
        font-size: 24px;
    }
    
    .services__img {
        width: 85%;
    }

    .nav-tabs .services__item {
        overflow: hidden;
    }

    .services__list--fourth img {
        margin-left: 0px;
    }

    .services__list--third i {
        right: 0;
    }
    
    .services__list--sixth img {
        margin-left: 30px;
    }

    .services__list--second img {
        margin-top: -38px;
        width: 53%;
        transform: rotate(40deg);
    }

    .services__tab--third::before {
        transform: rotate(-24deg);
        top: 208px; 
    }

    .services__list p {
        margin: 0;
        padding: 0;
    }

    .services__list--sixth i {
        right: -0;
    }

    .faCircle {
        right: 0;
        bottom: 0; 
    }

    .services__tabs {
        width: 100%;
    }

    .services__tab {
        padding-left: 40%;
        width: 100%;
    }

    .services__tabs::after {
        left: -118px;
        margin-left: -0;
        top: 89px;
        transform: rotate(66deg);
    }

    .services__tab--fifth::before {
        transform: rotate(13deg);
        top: 115px; 
    }

    .services__tab--sixth::before {
        transform: rotate(13deg);
        top: 115px; 
    }

    .services__tab--fourth::before {
        transform: rotate(13deg);
        top: 115px; 
        width: 562px;
        height: 503px;
    }

    .hero__content {
        padding-top: 35%;
        margin-left: 50vw;
    }

    .nav-tabs .services__item {
        margin-bottom: 35px;
    }
}

@media (max-width: 940px) {

    .main {
        margin-top: 75px; 
    }

    .navigation__link {
        font-size: 21px;
    }

    .navigation__items {
       width: 306px; 
    }

    header {
        height: 75px;
    }

    .header__logo {
        display: none;
    }

    .nav-tabs .services__item {
        height: 380px;
    }
}

@media (max-width: 768px) {

    .header__navigation {
        flex-wrap: wrap;
    }

    header {
        height: 72px;
    }

    .header__phone {
        font-size: 0;
        margin-bottom: 27px;
    }

    .hero__content {
        padding-top: 48%;
        margin-left: 0;
        margin: 0 auto;
    }

    .services__list {
        width: 100%;
    }

    .services__list--third img {
        margin-left: 0;
        transform: rotate(-24deg);
        width: 90%;
        margin-top: 35px;
    }

    .services__list--second img {
        width: 47%;
    }

    .services__list--sixth img {
        width: 90%; 
    }

    .services__list--fifth img {
        width: 88%; 
    }

    .services__list {
        width: 100%;
    }

    .nav-tabs .services__item {
        width: 50%;
    }

    .services__tabs {
        width: 100%;
    }

    .services__tab {
        padding-left: 0px;
    }

    .services__tabs::after {
        margin-left: 94vw;
        transform: rotate(12deg);
        width: 97%;
        height: 32%;
        background-size: contain;
        z-index: 2;
        top: 115px;
    }

    .services__tab--first::before {
        transform: rotate(268deg);
        width: 290px;
        height: 291px;
        left: 83vw;
        top: 124px;
        z-index: 2;
    }

    .services__tab--second::before {
        transform: rotate(-49deg);
        width: 190px;
        height: 371px;
        left: 67vw;
        top: 9px;
        z-index: 2;
    }

    .services__tab--third::before {
        transform: rotate(-109deg);
        width: 384px;
        height: 371px;
        left: 82vw;
        top: 9px;
        z-index: 2;
    }

    .services__tab--fourth::before {
        transform: rotate(-274deg);
        width: 366px;
        height: 287px;
        left: 74vw;
        top: 167px;
        z-index: 2;
    }

    .services__tab--fifth::before {
        transform: rotate(-274deg);
        width: 366px;
        height: 287px;
        left: 74vw;
        top: 167px;
        z-index: 2;
    }

    .services__tab--sixth::before {
        transform: rotate(-274deg);
        width: 366px;
        height: 287px;
        left: 74vw;
        top: 167px;
        z-index: 2;
    }

    .services__img {
        width: 70%;
    }

    .title-line::after {
        width: 35vw;
        left: 0;
    }

    .title-line::before {
        width: 35vw;
        left: 65vw;
    }
}   

@media (max-width: 600px) {
    .navigation__items {
        margin-left: 1.0rem;
        width: 300px;
    }

    .navigation__link {
        font-size: 20px;
    }

    .nav-tabs .services__item {
        height: 325px;
    }
}

@media (max-width: 580px)  {
    header {
        padding: 11px 11px;
    }
    
    .header__logo {
        display: none;
    }

    .header__phone {
        margin-bottom: 0;
    }

    .lang__link {
        width: 2.3rem;
        display: block;
        height: 2.3rem;
    }

    .lang__items {
        display: flex;
        justify-content: space-between;
        width: 5.8rem;
        margin-left: 29px;
    }

    .header__logo {
        order: 4;
        width: 100%;
        margin-top: 72px;
        margin-right: 0;
        text-align: center;
    }

    .heade__logo--img {
        width: 75%;
    }

    .hero__title {
        font-size: 2.9rem;
        margin-top: 15px;
    }
    

    .navigation__items {
        transform: translateY(0px);
        display: none;
    }

    .menu--vertical {
        position: absolute;
        display: block;
        flex-direction: column;
        background: #fff;
        width: 100vw;
        left: -16px;
        top: 71px;
    }

    .menu__toggler {
        display: block;
    }

    .header__phone {
        order: 3;
    }

    .header__navigation {
        justify-content: space-between;
    }

    .hero__content {
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding-top: 48%;
    }

    .hero__subtitle {
        margin-top: 77px;
        margin-left: 0;
    }

    .header__phone::before {
        margin-top: -16px;
    }
        
    .services__item {
        flex-direction: column;
    }

    .nav-tabs .services__item {
        width: 100%;
        height: auto;
    }
    .services__tabs {
        width: 100%;
    }
    
    .services__tabs::after {
        transform: rotate(20deg);
        width: 29%;
        height: 26%;
        background-size: contain;
        z-index: 2;
        top: 10px;
        left: 76vw;
        margin-left: 0;
    }

    .nav-tabs .services__item {
        overflow: initial;
    }

    .services__list {
        width: 100%;
    }

    .services__img {
        width: 24%;
    }

    .services__list--fifth img {
        width: 24%;
    }

    .services__list--second img {
        width: 101px;
        left: 64vw;
        transform: rotate(-55deg);
    }

    .nav-tabs .nav-link {
        height: 108px;
    }

    .services__list--third img {
        width: 45%;
        margin-top: 0;
        transform: rotate(-6deg);
        left: -36px;
    }

    .services__list--fourth img {
        left: 62vw;
    }

    .services__list--sixth img {
        width: 27%;
        left: 66vw;
        transform: rotate(69deg);
        top: 19px;
    }

    .services__list i {
        right: calc(50vw - 56px);
        bottom: 15px;
        transform: rotate(-90deg);
    }

    .services__tab--first::before {
        width: 211px;
        height: 189px;
    }


    .services__tab--third::before {
        width: 384px;
        height: 371px;
    }

    .services__tab--fourth::before {
        width: 366px;
        height: 287px;
    }

    .services__tab--fifth::before {
        width: 366px;
        height: 287px;
    }

    .services__tab--sixth::before {
        width: 366px;
        height: 287px;
    }

    .services__list--right p {
        margin-left: 53vw;
        text-align: right;
        width: 40vw;
    }

    .services__list--first img {
        margin-left: -6px;
        top: -14px;
        transform: rotate(-131deg);
        width: 31%;
    }

    .tab__name {
        margin-left: 0;
    }

    .tab__items {
        margin-left: -51px;
        margin-bottom: 46px;
    }
}

@media (max-width: 400px)  {
    .hero__subtitle::before {
        background-size: 30px 30px;
        height: 30px;
        width: 30px;
        left: calc(50vw + 45px);
        top: -36px;
    }

    .hero__subtitle {
        font-size: 1.5rem;
        margin-top: 46px;
        line-height: 32px;
        }

    .hero__button {
        padding: 18px 7px;
        background: #f77a9e;
        font-size: 17px;
        margin-top: 96px;
        margin-left: 50px;
        margin-right: 60px;
    }

    .hero__inner {
        background: url(../assets/img/logo.png);
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: 47px;
    }

    .hero__title {
        font-size: 2.9rem;
        margin-top: 15px;
    }
    
    .title-line {
        padding-top: 13px;
    }

    .section__title {
        font-size: 26px;
        line-height: 37px;
        margin-bottom: 6px;
    }

    .section__title-lt {
        font-size: 39px;
    }

    .services__list--right p {
        margin-left: 44vw;
    }

    .services__name {
        font-size: 23px;
    }

    }

    



.nav-tabs {
    display:none;
}

@media(min-width:580px) {



    .nav-tabs {
        display: flex;
    }

    .card {
        border: none;
    }

    .card .card-header {
        display:none;
    }  

    .card .collapse{
        display:block;
    }
}

@media(max-width:579px){
    .tab-pane {
        display: block !important;
        opacity: 1;
    }
}
